.mainTextCrown{
    height: 70px;
    width: auto;
}

.mainTextCrownDiv{
    text-align: center;
    margin-top: 80px;
}

.mainTextDiv{
    text-align: center;
}

.mainTextH1{
    font-size: 50px;
}

